.container{
    .h1{
    position: center;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    }
}

.btn-container{
  display: flex;
  margin-left: auto;
}

.btn-container a{
  margin-right: 10px;
}

.delete-btn {
  background-color: #fff; /* Initial button background color */
  color: #ff5656; /* Initial font color */
  box-sizing: border-box;
  width: min-content;
  appearance: none;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.delete-btn:hover {
  background-color: #ff5656; /* Hovered button background color */
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  color: #fff; /* Hovered font color */
  box-shadow: 0 0 40px 40px #e74c3c inset;
}


.details-btn {
  background-color: rgb(88, 88, 235); /* Initial button background color */
  color: #fff; /* Initial font color */
  box-sizing: border-box;
  width: min-content;
  appearance: none;
  border: 2px solid #fff;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.details-btn:hover {
  background-color: #3226e6; /* Hovered button background color */
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  color: #fff; /* Hovered font color */
  box-shadow: 0 0 40px 40px #3226e6 inset;
}


.urdf-container{
  text-align: center;
}

.image-container{
  text-align: center;
  .styled-image{
    max-width: 100%;
    height: auto;
  }
}

.table-container{
  width: 100%;
  box-sizing: border-box;
}

.table-container table {
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
  }
  
  table th,
  table td {
    padding: 0.625em;
    text-align: center;
  }
  
  table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
  
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }
  
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }
  
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    table td:last-child {
      border-bottom: 0;
    }
  }


.h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }
  .container h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .container h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }
  .container h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }


